@use 'variables' as *;

.header {
  background-color: $background-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  position: relative;

  .logo {
    color: $input-color;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    input {
      color: $input-color;
    }
    mat-label {
      color: $input-color;
    }
    .search-input {
      --mdc-outlined-text-field-outline-color: $input-color;
      height: 40px;
    }
  }

}

::ng-deep .mat-mdc-notch-piece.mdc-notched-outline__notch {
  border-left: none !important;
}

::ng-deep .mdc-notched-outline > * {
  border-color: $input-color !important;
}

::ng-deep .mat-mdc-text-field-wrapper{
  height: 100% !important;
}


